.accordion {
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
        text-align: center;
    }

    .accordion-container {
        max-width: 800px;

        .accordion-item {
            position: relative;
            margin: 10px 20px;
            @include border-radius(2px);
            border: 1px solid $colorPrimary;

            .title {
                position: relative;
                padding: 10px;
                background: $colorPrimary;
                cursor: pointer;
                @include transition(ease-in-out, .2s);

                // Effect in hover item
                &:hover {
                    background: darken($color: $colorPrimary, $amount: 10);
                }

                // + default symbol on all titles
                &::before {
                    content: '+';
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    @include transform-translateY(-50%);
                    font-size: 1.5em;
                    color: #fff;
                }

                h3 {
                    color: #fff;
                    margin-bottom: 0;
                    font-size: 1.0em;
                }
            }
        }

        // Effect in active item
        &.active {
            background: darken($color: $colorPrimary, $amount: 10);
        }

        // Content styles
        .content {
            position: relative;
            height: 0;
            overflow: hidden;
            @include transitionSecs(0.5s);
            overflow-y: auto;
        }

        // active styles
        .active .content {
            height: 350px;
            padding: 30px;
        }

    }

    .accordion-item.active .title::before {
        content: '-';
    }
}

// Media queries > 768 px
@media screen and (min-width: 768px) {
    .accordion .accordion-container .active .content {
        height: 200px;
    }
}

// Media queries > 1200 px
@media screen and (min-width: 1200px) {
    .accordion .accordion-container .active .content {
        height: 230px;
    }
}
