.benefits {

    .benefit-item {
        padding: 20px 0;

        i {
            margin-bottom: 30px;
            background: $spanColor;
            padding: 15px;
            color: #fff;
            border-radius: 2px;
            font-size: 30px;
        }
    }
}